.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 60%;
  margin: auto;
  margin-bottom: 2rem;
}

.form h1 {
  text-align: center;
  margin-top: 1rem;
}

.error {
  margin: 0;
  background-color: red;
  color: white;
}
