.wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.wrapper ul {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  list-style-type: none;
}

.wrapper ul li a {
  color: black;
  text-decoration: none;
}

.askQuestion {
  cursor: pointer;
}
