.wrapper {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.burgerButton {
  all: unset;
  fill: white;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .burgerButton {
    display: inline-block;
  }
}
